.contacto {
    font-family: var(--montserrat);
    background-color: #EAF2FD;
    padding: 2rem 1rem;
}

.form__contacto {
    display: flex;
    flex-direction: column;
}

.contacto__imagen {
    display: none;
}

@media screen and (min-width: 768px) {
    .skills__componenetes {
        width: 28%;
        margin: 1rem auto;
    }
}

@media screen and (min-width: 1024px) {
    .contacto {
        display: flex;
        justify-content: space-evenly;
        padding-top: 5rem;
        padding-bottom: 5rem;
        align-items: center;
    }
    .contacto__imagen {
        display: block;
        width: 50%;
    }
    .skills__componenetes--contacto {
        background-image: url(../img/contacto-imagen.png);
        width: 464px;
        height: 593px;
    }
}