.contacto {
    font-family: var(--montserrat);
    background-color: #EAF2FD;
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 5rem;
    align-items: center;
}

.form__contacto {
    display: flex;
    flex-direction: column;
}

.contacto__imagen {
    width: 30%;
}

.skills__componenetes--contacto {
    background-image: url(../img/contacto-imagen.png);
    width: 464px;
    height: 593px;
}

.titulo__contacto {
    font-size: 32px;
    font-weight: 700;
    color: #464646;
    padding-bottom: 1rem;
}

.parrafo__contacto {
    font-size: 16px;
    font-weight: 500;
    color: #464646;
    padding-bottom: 1rem;
    line-height: 19px;
}

.input__contacto {
    border: none;
    width: 656px;
    height: 56px;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    font-size: 16px;
    padding-left: 1.8rem;
}

.label__contacto {
    display: block;
    position: relative;
    left: 1rem;
    top: 40px;
    background: transparent;
    padding: 0 30px;
    width: 10%;
    font-size: 16px;
    color: #A2A2A2;
    transition: 300ms;
}

.input__contacto:focus+.label__contacto {
    display: none;
}

.text__contacto {
    width: 656px;
    height: 133px;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 16px;
    padding-left: 1.8rem;
    border: none;
    padding-top: 50px;
}

.btn__contacto {
    border: none;
    width: 144px;
    height: 51px;
    background: #2A7AE4;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}