.presentacion {
    display: flex;
    justify-content: left;
    flex-direction: column-reverse;
    padding: 1.75rem 1rem 2.5rem 1rem;
}

.imagen {
    width: 98px;
    height: 98px;
    border-radius: 100%;
    margin-left: 2rem;
}

@media screen and (min-width: 768px) {
    .presentacion {
        justify-content: space-around;
        flex-direction: row;
        padding-top: 2.5rem;
        align-items: center;
    }
    .imagen {
        width: 146px;
        height: 146px;
    }
}

@media screen and (min-width: 1024px) {
    .presentacion {
        background-color: #E5E5E5;
        justify-content: space-around;
        flex-direction: row;
        padding-top: 2.5rem;
        align-items: center;
    }
    .imagen {
        width: 220px;
        height: 220px;
        margin-left: 0;
        margin-right: 2rem;
    }
}