.skills {
    background-color: #E5E5E5;
    justify-content: center;
}

.skills__div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
}

.skills__componenetes--html {
    background-image: url(../img/html.png);
}

.skills__componenetes--javascript {
    background-image: url(../img/javascript.png);
}

.skills__componenetes--nodejs {
    background-image: url(../img/node-js.png);
}

.skills__componenetes--react {
    background-image: url(../img/react.png);
}

.skills__componenetes--css {
    background-image: url(../img/css3.png)
}

.skills__componenetes--python {
    background-image: url(../img/python.png);
}